<div class="full-width-bg bg-light py-5">
  <div class="container px-3">
       <div class="mb-3 text-center">
      <span class="badge bg-secondary-subtle text-dark px-3 py-1">about</span>
    </div>

    <div class="row align-items-start justify-content-center">
      <div class="col-md-5 text-center mb-4 mb-md-0" style="max-width: 400px;">

        <div class="position-relative d-inline-block">
  <img src="image2.jpg" alt="Profile" class="img-fluid profile-img" style="width: 300px; display: block;">


  <div class="bottom-shadow"></div>
</div>
     
 
      </div>

      <div class="col-md-7 about-section">
        <h4 class="about-header">Curious about me? Here you have it:</h4>
        <p>I'm a passionate,self-proclaimed designer who specializes in full stack development (Angular & Node.js). I am very enthusiastic about bringing the technical and visual aspects of digital products to life. User experience, pixel perfect design, and writing clear, readable, highly performant code matters to me.</p>

        <p>I began my journey as a web developer in 2025, and since then, I've continued to grow and evolve as a developer, taking on new challenges and learning the latest technologies along the way.</p>

        <p>I am very much a progressive thinker and enjoy working on products end to end, from ideation all the way to development.</p>

        <p>When I'm not in full-on developer mode, you can find me hovering around on twitter, witnessing the journey of early startups or enjoying some free time. You can follow me on Twitter where I share tech-related bites and build in public, or you can follow me on GitHub.</p>

        <p>Finally, some quick bits about me.</p>

        <ul>
          <li>B.S. in Software Engineering</li>
          <li>Full time freelancer</li>
        </ul>

        <p>One last thing, I'm available for freelance work, so feel free to reach out and say hello! I promise I don't bite 😇</p>
      </div>
    </div>
  </div>
</div>
