<nav class="navbar navbar-expand-lg bg-white shadow-sm">
  <div class="container">
 
    <a class="navbar-brand fw-bold" href="#">&#60;SS /&#62;</a>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar" aria-controls="mainNavbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

 
    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav ms-auto mb-4 mb-lg-0 r">
        <li class="nav-item"><a class="nav-link" href="#">About</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Work</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Testimonials</a></li>
        <li class="nav-item "><a class="nav-link" href="#">Contact</a></li>
      </ul>
      

<div class="d-flex justify-content-between align-items-center mb-5  d-lg-none">
  <span class="text-muted">Switch Theme</span>
  <button class="btn btn-link p-0" title="Toggle dark mode">
    <img src="brightness.png" alt="Brightness" style="width: 24px; height: 24px;">
  </button>
</div>

<div class="text-center">
  <a class="btn btn-dark w-100 py-2 rounded" href="" download>Download CV</a>
</div>

    </div>
  </div>
</nav>
