<section class="py-5 px-3 px-md-5 bg-white">
  <div class="container">

    <div class="mb-3 text-center">
      <span class="badge bg-secondary-subtle text-dark px-3 py-1">work</span>
    </div>

    <div class="text-center mb-5">
      <h6 class="text-muted">Some of the noteworthy projects I have built:</h6>
    </div>

    <div class="row align-items-center mb-5 shadow-sm p-4 rounded-4">
      <div class="col-12 col-md-6 mb-4 mb-md-0">
        <img src="work.png" alt="Project Screenshot" class="img-fluid rounded-3 shadow-sm w-100">
      </div>
      <div class="col-12 col-md-6">
        <h5 class="fw-semibold">Fiskil</h5>
        <p class="text-muted">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          Maecenas nec urna ac tellus volutpat viverra. 
          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae.
        </p>
        <div class="mb-3">
          <span class="badge bg-light text-dark me-1 mb-1">React</span>
          <span class="badge bg-light text-dark me-1 mb-1">Next.js</span>
          <span class="badge bg-light text-dark me-1 mb-1">Typescript</span>
          <span class="badge bg-light text-dark me-1 mb-1">Nest.js</span>
          <span class="badge bg-light text-dark me-1 mb-1">PostgreSQL</span>
          <span class="badge bg-light text-dark me-1 mb-1">Tailwindcss</span>
          <span class="badge bg-light text-dark me-1 mb-1">Figma</span>
          <span class="badge bg-light text-dark me-1 mb-1">Cypress</span>
          <span class="badge bg-light text-dark me-1 mb-1">Storybook</span>
          <span class="badge bg-light text-dark me-1 mb-1">Git</span>
        </div>
        <a href="#" class="text-dark fs-5" title="View Project" target="_blank">
          <i class="bi bi-box-arrow-up-right"></i>
        </a>
      </div>
    </div>


    <div class="row align-items-center flex-md-row-reverse mb-5 shadow-sm p-4 rounded-4">
      <div class="col-12 col-md-6 mb-4 mb-md-0">
        <img src="work2.png" alt="Project Screenshot" class="img-fluid rounded-3 shadow-sm w-100">
      </div>
      <div class="col-12 col-md-6">
        <h5 class="fw-semibold">Fiskil</h5>
        <p class="text-muted">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          Maecenas nec urna ac tellus volutpat viverra. 
          Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae.
        </p>
        <div class="">
          <span class="badge bg-light text-dark me-1 mb-1">React</span>
          <span class="badge bg-light text-dark me-1 mb-1">Next.js</span>
          <span class="badge bg-light text-dark me-1 mb-1">Typescript</span>
          <span class="badge bg-light text-dark me-1 mb-1">Nest.js</span>
          <span class="badge bg-light text-dark me-1 mb-1">PostgreSQL</span>
          <span class="badge bg-light text-dark me-1 mb-1">Tailwindcss</span>
          <span class="badge bg-light text-dark me-1 mb-1">Figma</span>
          <span class="badge bg-light text-dark me-1 mb-1">Cypress</span>
          <span class="badge bg-light text-dark me-1 mb-1">Storybook</span>
          <span class="badge bg-light text-dark me-1 mb-1">Git</span>
        </div>
        <a href="#" class="text-dark fs-5" title="View Project" target="_blank">
          <i class="bi bi-box-arrow-up-right"></i>
        </a>
      </div>
    </div>

  </div>
</section>
