.skills-grid {
    grid-template-columns: repeat(8, 1fr);
    gap: 1rem;
  }

  @media (max-width: 991.98px) {
  
    .skills-grid {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media (max-width: 767.98px) {
    
    .skills-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .skill-icon {
    max-width: 60px;
    height: auto;
  }